{%
  set classes = [
    'layout',
    'layout--two-column',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {{ content.header }}

      <div class="layout__regions">
        <div {{ region_attributes.first.addClass(['layout__region', 'layout__region--first']) }}>
          {{ content.first }}
        </div>

        <div {{ region_attributes.second.addClass(['layout__region', 'layout__region--second']) }}>
          {{ content.second }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
