{%
  set classes = [
    'layout',
    'layout--accordion',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      <div class="layout__regions">
        <div {{ region_attributes.first.addClass(['layout__region', 'layout__region--content']) }}>
          {{ content.first }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
