.layout-options,
.region-options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-bottom: 10px;
  pointer-events: none;

  &__label {
    font-weight: bold;
    color: #999999;
  }

  &__option {
    display: flex;
  }

  &__option-label {
    margin-right: 0.25em;

    &::after {
      content: ':';
    }
  }

  &__option-value {
    font-weight: bold;
  }
}
